<section id="profile" class="mb-5">
  <div class="profile-container">
    <div class="profile-image-container">
      <img src="assets/profile.jpg" alt="Profile Image" class="profile-img">
    </div>
    <div class="profile-details">
      <h1 class="name">Hello, I'm <br> {{ title }}</h1>
      <div class="tags">
        <span class="tag">Full Stack Developer</span>
        <span class="tag">AWS Certified | 4+</span>
      </div>
      <div class="social-icons">
        <a [href]="github" target="_blank" class="social-icon">
          <i class="bi bi-github"></i>
        </a>
        <a [href]="linkedin" target="_blank" class="social-icon">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://your-other-link.com" target="_blank" class="social-icon">
          <i class="bi bi-person-workspace"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="profile-summary-card">
    <h2>Professional Summary</h2>
    <p>{{ professionalSummary }}</p>
  </div>
</section> 