<section id="skills" class="mb-5">
  <h2 class="mb-4">Technical Skills</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="skills-glass-card mb-3">
        <h5>Languages</h5>
        <ul>
          <li *ngFor="let skill of technicalSkills.languages">{{ skill }}</li>
        </ul>
      </div>
      <div class="skills-glass-card mb-3">
        <h5>Backend</h5>
        <ul>
          <li *ngFor="let skill of technicalSkills.backend">{{ skill }}</li>
        </ul>
      </div>
      <div class="skills-glass-card mb-3">
        <h5>Frontend</h5>
        <ul>
          <li *ngFor="let skill of technicalSkills.frontend">{{ skill }}</li>
        </ul>
      </div>
      <div class="skills-glass-card mb-3">
        <h5>Clouds</h5>
        <ul>
          <li *ngFor="let skill of technicalSkills.clouds">{{ skill }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="skills-glass-card mb-3">
        <h5>Databases</h5>
        <ul>
          <li *ngFor="let skill of technicalSkills.databases">{{ skill }}</li>
        </ul>
      </div>
      <div class="skills-glass-card mb-3">
        <h5>Developer Tools</h5>
        <ul>
          <li *ngFor="let skill of technicalSkills.developerTools">{{ skill }}</li>
        </ul>
      </div>
      <div class="skills-glass-card mb-3">
        <h5>Additional Skills</h5>
        <ul>
          <li *ngFor="let skill of technicalSkills.additionalSkills">{{ skill }}</li>
        </ul>
      </div>
    </div>
  </div>
</section> 