ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  color: var(--text-color) !important;
  margin-bottom: 0.5rem;
}

#skills .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

#skills ul li {
  color: var(--text-color) !important;
} 